---
import { Image } from "astro:assets";
import { getReadBooks, getReadingBooks } from "../lib/utils";

const readBooks = await getReadBooks();
const readingBooks = await getReadingBooks();
---

<div class="relative">
  <div
    class="px-24 flex gap-2 w-full overflow-x-scroll [&::-webkit-scrollbar]:hidden [-ms-overflow-style:none] [scrollbar-width:none]"
  >
    {
      readingBooks.map((book) => (
        <div class="flex flex-col gap-2 w-full ">
          <Image
            src={
              book.thumbnail ||
              `https://placehold.co/128x192/ffffff/000000.png?text=${book.title}`
            }
            alt={book.title}
            class="h-48 w-32 lg:grayscale hover:grayscale-0 transition-[filter] duration-700 ease-in-out"
            inferSize
            loading={"eager"}
          />
          <div class="min-w-32 max-w-32 overflow-hidden whitespace-nowrap text-base font-neue overflow-ellipsis">
            {book.title}
          </div>
        </div>
      ))
    }
    <div class="[writing-mode:vertical-rl] text-sm text-center px-4">
      &bull; &bull; &bull;
    </div>
    {
      readBooks.map((book) => (
        <div class="flex flex-col gap-2 w-full ">
          <Image
            src={
              book.thumbnail ||
              `https://placehold.co/128x192/ffffff/000000.png?text=${book.title}`
            }
            alt={book.title}
            class="h-48 w-32 lg:grayscale hover:grayscale-0 transition-[filter] duration-700 ease-in-out"
            loading={"eager"}
            inferSize
          />
          <div class="min-w-32 max-w-32 overflow-hidden whitespace-nowrap text-base font-neue overflow-ellipsis">
            {book.title}
          </div>
        </div>
      ))
    }
  </div>
  <div
    class="bg-transparent absolute -right-10 top-0 bottom-0 [mask:linear-gradient(to_right,transparent,black_65%)] z-20 w-36 h-full pointer-events-none backdrop-blur"
  >
  </div>
  <div
    class="bg-transparent absolute -left-10 top-0 bottom-0 [mask:linear-gradient(to_left,transparent,black_65%)] z-20 w-36 h-full pointer-events-none backdrop-blur"
  >
  </div>
</div>
